<!DOCTYPE html>
<html lang="en" ng-app="uauth">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../css/jumbotron-narrow.css" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

  <title>Webapp2 Auth</title>

  <!-- Bootstrap core CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/modal.js"></script>     
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="/login">Sign in</a></li>
      </ul>
      <h3 class="text-muted">Webapp2 User Auth</h3>
    </div>
    <div>
      <div class="jumbotron">
        <h1>Try Signing Up</h1>
        <p class="lead">This project is based on the webapp2 project by <a href="http://blog.abahgat.com/2013/01/07/user-authentication-with-webapp2-on-google-app-engine/">@abahgat</a>, except it uses angular js and has auth for other networks</p>
        <p><a href="/signup"class="btn btn-lg">Sign up</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Angular JS</h4>
          <p>AngularJS lets you write client-side web applications as if you had a smarter browser.</p>

          <h4>Google App Engine</h4>
          <p>Offers users the ability to build and host web applications on Google's infrastructure.</p>

          <h4>Webapp 2</h4>
          <p>webapp2 is a lightweight Python web framework compatible with Google App Engine’s webapp.</p>
        </div>
      </div>
      <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
      <div class="footer">
        <p>&copy; Chris Grant</p>
      </div>

    </div> <!-- /container -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
  </html>